﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button class="btn btn-primary" onclick="getExRate()"> <i class="fab fa-joget"></i> Get Current Exchange Rate</button>
    <button class="btn btn-primary" onclick="history()"> <i class="fas fa-history"></i> History</button>
    <button class="btn btn-primary" onclick="history()"> <i class="fas fa-business-time"></i> History for time interval</button>

</div>

<script>
    function history() {
        window.location.replace("../../../Exchagerates/Index")
    };

    function getExRate(){
        window.location.replace("../../../Exchagerates/GetLatestExRates")
    };
    
</script>
