﻿@model ExRatesWeb.Data.Models.ExchageRates

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExchageRates</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
