﻿@model IEnumerable<ExRatesWeb.Data.Models.ExchageRates>
@{
    ViewData["Title"] = "Index";
}

<h1>Excnhage Rates List</h1>

<p>
    <label>Time From</label>
    <input type="text" id="timeFrom" placeholder="hh:mm:ss" />
    <label>Time To</label>
    <input type="text" id="timeTo" placeholder="hh:mm:ss" />
    <button class="btn btn-primary" onclick="searchTime()"> <i class="fas fa-search"></i>Search</button>
    <input type="text" id="wrongInput"/>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rub)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function searchTime(){
        var reg = new RegExp("([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]");
        document.getElementById("wrongInput").value = "";
        let model = {
            from: document.getElementById("timeFrom").value,
            to: document.getElementById("timeTo").value,
        }
        if(model.to.match(reg) && model.from.match(reg))
            window.location.replace(`../../../ExchageRates/ListWithTimeInterval?from=${model.from}&to=${model.to}`)
            else
            document.getElementById("wrongInput").value = "Wrong input type"

    };
</script>
