﻿@model IEnumerable<ExRatesWeb.Data.Models.ExchageRates>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
